* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: grid; */
    background-image: url(images/emir.png);
    background-position: center;
    /* background-position-y: -450px; */
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    height: 100px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    position: fixed;
}



nav .logo {
    margin-left: 50px;
    z-index: 1;
}

hr {
    width: 100%;
    border-color: aqua;
}

.list ul {
    display: flex;
    color: white;
    gap: 20px;
    list-style-type: none;
    margin: 40px;
}

main {
    width: 100%;
    height: 100%;


}

.pyramid-loader {
    position: relative;
    width: 300px;
    height: 100%;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
    cursor: pointer;
    z-index: 1;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotateY(360deg);
    }
}

.pyramid-loader .wrapper .side {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper .shadow {
    width: 60px;
    height: 60px;
    background: #8B5AD5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
}

/* .bir {
    width: 200px;
    height: 100px;
    background-color: white;
    overflow: hidden;
  } */

.pyramid-loader:hover~.bir {
    transition: all 2s linear;
    bottom: 200px;
}

h1 {
    text-align: center;
    /* color: yellow; */
    text-shadow: 10px 5px 20px white;
    margin-left: 70px;
    color: darkblue;
    font-family: 'Permanent Marker', cursive;
    z-index: 1;
}

.main {
    display: grid;
}

.left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* width: 100%;
    height: 50%; */
    padding: 20px;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.tanim {
    width: 550px;
    height: 600px;
    border: 3px solid white;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px white;
    transition: 1s;
    /* opacity: .5; */
    font-size: 0px;
    background-color: rgb(255, 255, 255, .3);
}

.tanim:hover h2 {
    font-size: 0;
}

.tanim h2 {
    font-size: 30px;
    color: white;
    opacity: 1;
    text-align: center;
    display: grid;
    align-items: center;
    z-index: 1;
    margin-top: 300px;
}

.tanim p {
    margin-bottom: 500px;
}

.tanim:hover {
    opacity: 1;
    cursor: pointer;
    font-size: 15px;
    /* transition: 1s; */
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    /* display: grid; */
    /* justify-content: space-between; */
}



.boyut {
    width: 550px;
    height: 600px;
    border: 3px solid white;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px white;
    transition: 1s;
    /* opacity: .5; */
    font-size: 0px;
    background-color: rgb(255, 255, 255, .3);
}

.boyut:hover h2 {
    font-size: 0;
}

.boyut h2 {
    font-size: 30px;
    color: white;
    opacity: 1;
    text-align: center;
    display: grid;
    align-items: center;
    z-index: 1;
    margin-top: 300px;
}

.boyut p {
    margin-bottom: 500px;
}

.boyut:hover {
    opacity: 1;
    cursor: pointer;
    font-size: 15px;
    /* transition: 1s; */
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    /* display: grid; */
    /* justify-content: space-between; */
}


.yas {
    width: 550px;
    height: 600px;
    border: 3px solid white;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px white;
    transition: 1s;
    /* opacity: .5; */
    font-size: 0px;
    background-color: rgb(255, 255, 255, .3);
}

.yas:hover h2 {
    font-size: 0;
}

.yas h2 {
    font-size: 30px;
    color: white;
    opacity: 1;
    text-align: center;
    display: grid;
    align-items: center;
    z-index: 1;
    margin-top: 300px;
}

.yas p {
    margin-bottom: 500px;
}

.yas:hover {
    opacity: 1;
    cursor: pointer;
    font-size: 15px;
    /* transition: 1s; */
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    /* display: grid; */
    /* justify-content: space-between; */
}


p {
    margin: 5px;
    text-shadow: 2px 2px 2px aqua;
    color: white;
}

h2 {
    margin: 5px;
    text-shadow: 2px 2px 2px white;
    color: aqua;
}

.orta {
    display: block;
}

.right {
    display: grid;
    width: 100%;
    height: 50%;
    padding: 20px;
    margin: 10px;
    /* margin-top: 10px; */
    justify-content: space-between;
}

.bigbang {
    width: 550px;
    height: 600px;
    border: 3px solid white;
    margin-top: 20px;
    border-radius: 10px;
    /* margin-top: 200px; */
    margin-right: 20px;
    box-shadow: 10px 10px 10px white;
    transition: 1s;
    /* opacity: .5; */
    font-size: 0px;
    background-color: rgb(255, 255, 255, .3);
    z-index: ;
}

.bigbang h2 {
    font-size: 30px;
    color: white;
    opacity: 1;
    text-align: center;
    display: grid;
    align-items: center;
    z-index: 1;
    margin-top: 300px;
}

.bigbang p {
    margin-bottom: 500px;
}

.bigbang:hover {
    display: grid;
    /* align-items: center; */
    opacity: 1;
    cursor: pointer;
    font-size: 15px;
    /* transition: 1s; */
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    transition-timing-function: ease-in-out;
    /* display: grid; */
    /* justify-content: space-between; */
}

.bigbang:hover h2 {
    font-size: 0;
}

.cokus {
    width: 550px;
    height: 600px;
    border: 3px solid white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px white;
    transition: 1s;
    /* opacity: .5; */
    font-size: 0px;
    background-color: rgb(255, 255, 255, .3);
}

.cokus:hover h2 {
    font-size: 0;
}

.cokus h2 {
    font-size: 30px;
    color: white;
    opacity: 1;
    text-align: center;
    display: grid;
    align-items: center;
    z-index: 1;
    margin-top: 300px;
}

.cokus p {
    margin-bottom: 500px;
}

.cokus:hover {
    opacity: 1;
    cursor: pointer;
    font-size: 15px;
    /* transition: 1s; */
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    /* display: grid; */
    /* justify-content: space-between; */
}



.donma {
    width: 550px;
    height: 600px;
    border: 3px solid white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px white;
    /* opacity: .5; */
    transition: 1s;
    font-size: 0px;
    background-color: rgb(255, 255, 255, .3);
}

.donma:hover h2 {
    font-size: 0;
}

.donma h2 {
    font-size: 30px;
    color: white;
    opacity: 1;
    text-align: center;
    display: grid;
    align-items: center;
    z-index: 1;
    margin-top: 300px;
}

.donma p {
    margin-bottom: 500px;
}

.donma:hover {
    opacity: 1;
    cursor: pointer;
    font-size: 15px;
    
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    /* display: grid; */
    /* justify-content: space-between; */
}



.info {
    width: 100%;
    height: 100%;
    display: grid;
    text-align: center;
}

.button1 {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

.button1::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button1:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.button1:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

.button2 {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

.button2::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button2:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.button2:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

footer {
    height: 450px;
    width: 100%;
    background-image: url(https://i.ytimg.com/vi/d3ZVcvmsh48/maxresdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* hr {
    height: 80%;
    border-color: bisque;
} */

.sol-footer {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-menu-item a {
    text-decoration: none;
    color: aqua;
    gap: 20px;
}

.footer-menu-item a:hover {
    color: white;
}

.sag-footer {
    display: flex;
    gap: 10px;
}

.sag-footer a {
    font-size: 30px;
    color: aqua;
}

.sag-footer a:hover {
    color: white;
}

.info h2 {
    font-family: 'Pixelify Sans', sans-serif;
    text-shadow: 0px 0 0 white;
}

fieldset {
    border: none;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

.left h2 {
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 800px) {
    .left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 270px;
    }

    .tanim {
        width: 600px;
        height: 600px;
        margin-right: 20px;
    }

    .yas {
        width: 600px;
        margin-left: 10px;
        height: 600px;
        
    }

    .boyut {
        margin-top: 20px;
        width: 600px;
        height: 600px;
        margin-right: 20px;
    }

    .bigbang {
        width: 600px;
        margin-left: 10px;
        height: 600px;
    }

    .cokus {
        width: 600px;
        height: 600px;
        margin-right: 20px;
    }

    .donma {
        width: 600px;
        margin-left: 10px;
        height: 600px;
    }

    /* .info {
        margin-top: 700px;
    } */

    .boyut {
        margin-top: 20px;
    }
    .info {
        width: 1200px;
    }

    footer {
        width: 1200px;
    }
}

.spaceship {
    width: 75px;
    height: 100px;
    position: absolute;
    animation: git 15s linear infinite;
    z-index: 0;
    /* margin-left: 50px; */
}

@keyframes git {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .info{
        width: 1800px;
    }
    footer{
        width: 1800px;
    }
    
}

@media screen and (max-width: 400px) {
    .left {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 1200px;
        /* padding: 20px; */
    }

    .tanim {
        width: 100%;
        height: 600px;
        /* margin-right: 20px; */
        margin-right: 120px;
    }

    .yas {
        margin-top: 20px;
        width: 100%;
        /* margin-left: 10px; */
        height: 600px;
        
    }

    .boyut {
        /* margin-top: 20px; */
        width: 100%;
        height: 600px;
        /* margin-right: 20px; */
    }

    .bigbang {
        width: 100%;
        /* margin-left: 10px; */
        height: 600px;
    }

    .cokus {
        width: 100%;
        height: 600px;
        /* margin-right: 20px; */
    }

    .donma {
        width: 100%;
        /* margin-left: 10px; */
        height: 600px;
    }
}

.spaceship2 {
    width: 75px;
    height: 100px;
    position: absolute;
    animation: gel 15s linear infinite;
    /* animation-delay: 15s; */
    z-index: 0;
    /* margin-left: 50px; */
}

@keyframes gel {
    from {
        right: 0%;
    }

    to {
        right: 100%;
    }
}